
# Get these from https://developers.facebook.com/apps/

INSTAGRAM_ACCESS_TOKEN=your_long_lived_access_token_here
INSTAGRAM_BUSINESS_ACCOUNT_ID=your_instagram_business_account_id_here
FACEBOOK_APP_ID=your_facebook_app_id_here
FACEBOOK_APP_SECRET=your_facebook_app_secret_here

API_VERSION=v19.0
BASE_URL=https://graph.facebook.com

DATA_DIR=data
REPORTS_DIR=reports
